 @model IEnumerable<EmployeeModels.ViewModel.EmployeeDetailView>
@* @if (TempData["Success"] != null)
{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        toastr.success('@TempData["Success"]')
    </script>
} *@
@{
    ViewBag.Title = "GetAll";
}
<h2>Employee Management</h2>
<p>
   
    <button type="button" onclick="location.href='@Url.Action("AddEmployee")'" class="btn btn-primary">Create</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteEmployee", "Employee", new { id = item.Id }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DesignationId)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ProfilePicture)*@
                    <img src="~/Images/@item.ProfilePicture" height="50" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    
                    <button type="button" onclick="location.href='@Url.Action("EditEmployee", new { id = item.Id })'" class="btn btn-primary">Edit</button>
                   
                    <button type="button" onclick="location.href='@Url.Action("GetEmployeeById", new { id = item.Id })'" class="btn btn-info">Detail</button>
                    <input type="submit" name="deleteButton" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure to delete ')" />
                    
                </td>
            </tr>
        }
    }

</table>
@* <div class="alert alert-danger">
    <p>@ViewBag.ErrorMessage</p>
</div> *@
